<% content_for :title, "New Event" %>

<div class="mx-auto w-full md:mt-8 max-w-3xl">
  <h1 class="text-3xl font-bold tracking-tight mb-6">Create New Event</h1>
  <%= render "form", club: @club, event: @event %>
</div>
